* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  display: block;
  max-width: 100%;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
}

.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.menu {
  padding-top: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: animaCima 1s forwards;
}
.menu-nav {
  display: flex;
  gap: 30px;
}
.menu-nav li a {
  padding: 8px;
  position: relative;
}

.btnMeta {
  cursor: pointer;
  padding: 8px 18px;
  display: flex;
  gap: 15px;
  background: white;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid transparent;
  transition: .5s all;
  border-radius: 8px;
}

.header-prin {
  padding-top: 90px;
  display: flex;
  gap: 40px;
  animation: animaDireita 2s forwards;
}
.colorP {
  color: var(--text-color);
}
.badgeImg {
  min-width: 200px;
}

.artistasMercado {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.title-prin {
  font-size: 50px;
  color: var(--text-color);
}
.corDestaque {
  color: var(--color-logo);
}
.divText {
  margin-bottom: 55px;
}
.header-img {
  margin-top: 100px;
}
.header-img ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.header-img ul li {
  border: 1px solid white;
}

.bg-site {
  background: var(--body-background);
}
.list-info_card {
  margin-bottom: 70px;
}

.list-info_card_title {
  font-size: 50px;
  color: white;
}

.text-color {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 60px;
}

.list-info_card_catgoriy {
  font-size: 20px;
  color: var(--subtitle-color);
}

.list-info {
  padding-top: 130px;
  border-right: 1px solid #5a5757;
  text-align: center;
}

.info-text-card {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}

.content-list-info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border-bottom: 1px solid #5a5757;
}

.info-text-card {
  padding: 70px 138px 70px 55px;
}

.img-banner {
  width: 100%;
}

.populares-cont {
  padding-top: 150px;
}

.div-texto {
  flex: 0 1 425px;
}

.textSpan {
  color: var(--color-logo);
  text-decoration: underline;
}

.div-texto a {
  text-decoration: underline;
}
.melhoresArtis {
  margin-bottom: 150px;
}

.populares-cont h1,
.melhoresArtis h1 {
  color: white;
  font-size: 50px;
}
.melhoresArtis h1 {
  text-align: center;
}
.header-astronaut {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header-astronaut h3 {
  font-size: 30px;
  color: white;
}
.mainAstronaut {
  margin-top: 160px;
  position: relative;
}

.cardAstronaut {
  margin-bottom: 50px;
}

.content-card-astro {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.body-astronaut {
  display: flex;
}
.body-astronaut {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.nameAstronaut {
  font-size: 20px;
  color: #5a5757;
  font-weight: 700;
}
.coin {
  color: var(--color-logo);
}

.mainAstronaut::before {
  content: "";
  position: absolute;
  display: block;
  height: 95%;
  width: 1px;
  background-color: #5a5757;
  left: 50%;
  transform: translateX(-50%);
}

.melhoresArtis {
  margin-top: 150px;
}

.lista-melhores {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
}

.card-melhor {
  background: #252525;
  transition: .3s all;
  cursor: pointer;
}
.card-melhor:hover{
  background: #ff5b50;
}
.card-melhor:hover .fotos{
  color: white;
}
.nome,
.fotos {
  font-size: 20px;
  font-weight: 500;
}
.fotos {
  margin-top: 8px;
  color: var(--color-logo);
}

.card-melhor-link {
  display: flex;
  gap: 40px;
  padding: 25px 20px;
  align-items: center;
}

.cont-melhores {
  position: relative;
}

.vermais {
  margin-top: 60px;
  color: white;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.vermais::after {
  content: "";
  position: absolute;
  display: inline-block;
  background: url(assets/arrow-orange.svg) no-repeat;
  width: 30px;
  height: 30px;
  margin-left: 25px;
}

.footer-bg {
  background: #252525;
}

.footer-header {
  display: flex;
  padding: 50px 20px;
  justify-content: space-between;
  align-items: center;
}
.footer-header button {
  background: var(--color-logo);
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.footer-header button > img {
  margin: 0 auto;
}
.footer-body {
  display: flex;
  align-items: center;
  position: relative;
}

.input-footer {
  flex: 1;
}
.input-footer p {
  max-width: 350px;
  margin-bottom: 25px;
}

.lista-footer {
  flex: 2;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  border-left: 1px solid #5a5757;
}
.divList p {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 8px;
}
.divList li {
  padding: 10px 0;
}
.divList li a {
  font-size: 20px;
  color: #5a5757;
}

.input-footer {
  font-size: 30px;
  color: white;
  padding-right: 50px;
}

.input-group {
  display: inline-flex;
}
.input-group input {
  border: none;
  outline: none;
  color: #5a5757;
  background: black;
  padding: 20px 25px;
  font-size: 18px;
}
.input-group button {
  background: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: -1px;
  padding: 22px 25px;
}
.boder-aplication {
  border-top: 1px solid #5a5757;
  border-bottom: 1px solid #5a5757;
}
.footer-fim {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-fim ul {
  display: flex;
  gap: 50px;
  padding: 60px 0;
}
.footer-fim a {
  font-size: 20px;
  color: #5a5757;
}

.bold {
  font-weight: 700;
}
.header-img ul li img{
  width: 100%;
  object-fit: cover;
  animation: animaImg 2s forwards;

}

.divList li a{
  position: relative;
}

.menu-nav li a::before , .divList li a::before{
  content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 3px;
    background: var(--color-logo);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1) 0s;
}

.menu-nav li a:hover::before,.divList li a:hover::before{
  width: 100%;
  left: 0px;
  right: 0px;
}
.btnMeta:hover{
  background: transparent;
  border: 1px solid var(--color-logo);
  outline: none;
  color: white;
}
.header-astronaut h3,.header-astronaut img{
  transition: .3s all;
  cursor: pointer;
}
.header-astronaut:hover{
  cursor: pointer;
}
.header-astronaut:hover h3{
  color: var(--color-logo);
  transform: scale(1.1);
}


.header-astronaut:hover img{
  transform: translateY(-10px);
}

@media (min-width: 1440px) {
  .div-texto {
    flex: 1;
  }
}

@media (max-width: 999px) {
  .menu {
    flex-direction: column;
    padding-top: 25px;
    gap: 25px;
  }
  .discover {
    order: 1;
  }
  .header-prin {
    flex-direction: column;
  }
  .img-header {
    display: none;
  }
  .header-img ul{
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  }
  .content-list-info{
    grid-template-columns: 1fr;
    border: none;
  }
  .info-text-card{
    display: none;
  }
  .list-info{
    padding-top: 60px;
  }
  .cont-img{
    height: 250px;
  }
  .cont-img img{
    height: inherit;
    object-fit: cover;
  }
  .melhoresArtis{
    margin-top: 60px;
  }
  .footer-body{
    display: block;
  }
  .input-footer{
    padding-top: 30px;
    text-align: center;
  }
  .input-footer p{
    margin: 0 auto;
  }
  .input-group{
    margin-top: 30px;
  }
  .lista-footer{
    border-left: none;
    padding: 30px 0;
  }
  .mainAstronaut{
    margin-top: 60px;
  }
}

@media(max-width:700px){
  .content-card-astro{
    flex-direction: column;
    align-items: center;
  }
  .mainAstronaut::before{
    display: none;
  }
  .menu-nav{
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .input-footer{
    padding-right: 0;
  }
  .input-group button{
    padding: 10px 25px;
  }
  .input-group{
    flex-direction: column;
  }
  .lista-footer{
    flex-direction: column;
  }
  .divList{
    text-align: center;
    margin-bottom: 16px;
  }
  .footer-fim a{
    padding-top: 20px;
  }
  .footer-fim{
    flex-direction: column;
  }
  .footer-fim ul{
    padding: 30px 0;
  }
  .footer-header{
    flex-direction: column-reverse;
    gap: 20px;
    padding: 30px 20px;
  }
}

@keyframes animaCima{
  0%{
    opacity: 0;
    transform: translate3d(0,-200px,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes animaDireita{
  0%{
    opacity: 0;
    transform: translate3d(-400px,0,0);
  }
  100%{
    opacity: 1;
    transform: translateZ(0);
  }
}


@keyframes animaImg{
  0%{
    opacity: 0;
    transform: scale(0.6);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

